.fruit-pack-module-wrapper {
	clear: both;
	padding: 20px 0;
	*zoom: 1;
}

.fruit-pack-module-wrapper:before, .fruit-pack-module-wrapper:after {
	content: " "; /* 1 */
  display: table; /* 2 */
}

.fruit-pack-module-wrapper:after {
	clear: both;
}

.fruit-pack-module {
	width: 22.5%;
	float: left;
	background: #e3e3e3;
	text-align: center;
	padding: 0;
	margin-right: 2.5%;
	transition: all 300ms;
	position: relative;
	overflow: hidden;
}

.fruit-pack-module.active {
	color: green;
	box-shadow: inset 0 0 0 4px green;
}

.fruit-pack-module.working .fruit-pack-module__action {
	bottom: 0;
}

.fruit-pack-module.working .fruit-pack-module__action i {
	-wekbit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

.fruit-pack-module.active .fruit-pack-module__action {
	background: red;
}

.fruit-pack-module.active h2 {
	color: green;
}

.fruit-pack-module:hover {
	cursor: pointer;
}

.fruit-pack-module:hover .fruit-pack-module__action {
	bottom: 0;
}

.fruit-pack-module__inner {
	padding: 20px;
}

.fruit-pack-module__inner .dashicons {
	font-size: 80px;
	width: 80px;
	height: 80px;
}

.fruit-pack-module__action {
	background-color: green;
	color: white;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: -50px;
	transition: bottom 300ms;
}

.fruit-pack-module__action p {
	display: inline-block;
}

.fruit-pack-module__action i {
	margin-right: 5px;
}

.fruit-pack-sync-button {
	clear: both;
}

.fruit-pack-sync-button .dashicons {
	-wekbit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
	margin-left: 3px;
	margin-top: 5px;
}